.content
{
	margin-top: 3vmax;
}

h1
{
	color: gainsboro;
	text-align: center;
}

ul
{
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../../Images/FooterBGEditBlur.jpg");
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../../Images/FooterBGEditBlur.jpg");
	background-attachment: fixed;
	background-position: bottom; 
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;

	-moz-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);

	width: 25%;
	margin-top: 3vmax;
	padding-top: 4vmax;
	padding-bottom: 1vmax;
	padding-left: 0.5vmax;
	padding-right: 0.5vmax;
	list-style-type: none;
}

ul li
{
	margin-bottom: 3vmax;
}

ul li a
{
	font-size: 1.5vmax;
	font-family: Blackout Midnight;
    letter-spacing: 0.2vmax;
}