/*==========================================================
				Calculator Page Content
============================================================*/

.content
{
	width: 100%;
	height: 20em;
	margin-top: 3vmax;
}

.content img{
	width: 20px;
}