.content
{
	margin-top: 5vmax;
	width: 100%;
}

h1 
{
	color: gainsboro;
	text-align: center;
}

h2
{
	font-size: 2vmax;
}

.content table
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vmax;
	padding-left: 1.8vmax;
}


table div
{
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../../Images/FooterBGEditBlur.jpg");
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url("../../Images/FooterBGEditBlur.jpg");
	background-attachment: fixed;
	background-position: bottom; 
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;

	-moz-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);

	height: 12vmax;
	width: 8vmax;
	padding: 2vmax;
	margin-right: 2vmax;

	text-align: center;
}

p
{
	margin-top: 8vmax;
}